{% extends 'base.html.twig' %}

{% block page_content %}
<div class="col-sm-8 text-left"> 
	{% block main_column %}{% endblock %}
</div>

<div class="col-sm-4 sidenav">
  {% block sidebar_column %}{% endblock %}
</div>
{% endblock %}