/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
	height: auto;
	padding: 15px;
  }
  .row.content {height:auto;} 
}

/* general */
.mt30
{
	margin-top: 30px;
}
.datetime-field
{
	
}
/* event hour list */
ul.event-hours
{
	display: none;
	list-style-type: none;
	padding: 0;
}
ul.event-hours li.day
{
	padding-bottom: 20px;
}
ul.event-hours li.day span
{
	font-weight: 700;
}
ul.event-hours li.event-hour
{
	
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #444;
}
ul.event-hours li.event-hour span
{
	/*display: block;*/
}
ul.event-hours li.event-hour span.event-hour-title
{
	margin-right: 20px;
}
/* event hours table */
table.event-hours
{
	width: 100%;
}
table.event-hours tr
{
	
}
table.event-hours tr th
{
	text-align: center;
	padding: 10px 0;
}
table.event-hours tr td
{
	vertical-align: top;
}
table.event-hours tr td div.event-hour
{
	text-align: center;
	margin-bottom: 20px;
}
table.event-hours tr td div.event-hour .title
{
	display: block;
}
table.event-hours tr td div.event-hour .start
{
	
}
table.event-hours tr td div.event-hour .end
{
	
}
table.event-hours tr td div.event-hour .separate
{
	
}
/* collapsible area */
.collapsible-area
{
	padding: 20px 0 0;
	overflow: hidden;
	position: relative;
}
.collapsible-area .ca-controls
{
	position: absolute;
	right: 0;
	top: 0;
	width: 16px;
	height: 16px;
	color: #333333;
}
.collapsible-area .ca-controls>span
{
	font-size: 16px;
	cursor: pointer;
}
.collapsible-area .ca-controls>span.ca-control-expand
{
	display: none;
}
.collapsible-area .ca-controls>span.ca-control-collapse
{
	display: block;
}
.collapsible-area.ca-state-collapsed .ca-controls>span.ca-control-expand
{
	display: block;
}
.collapsible-area.ca-state-collapsed .ca-controls>span.ca-control-collapse
{
	display: none;
}











