{% extends 'full-width.html.twig' %}

{% block main_column %}
	{% if event %}
	
	<h3>{{ event.title }}</h3>
	<h5>Author: {{ event.getAuthor().getUsername() }}</h5>
		
	<p>{{ event.description }}</p>
	
	<a href="{{ path('view_events') }}">Back to all events</a>
	
	{% endif %}	
	
{% endblock %}

